@import 'https://fonts.googleapis.com/css?family=Ubuntu|Open+Sans|Bree+Serif';


body,
html{
	margin: 0;
	padding: 0;
}

body {
  background-color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: #575757;
}
ul{
	margin: 0;
}
.header-top{
	background-color: black;
	height: 30px;
}

.container{
	max-width: 1280px;
	margin:0 auto;
	position: relative;
}

.container-1440{
  max-width: 1440px;
  margin:0 auto;
  position: relative;
}

.container:before,
.container:after {
  content: " ";
  display: table;
}
.container:after {
  clear: both;
}
.container .w-row {

}
.w-row:before,
.w-row:after {
  content: " ";
  display: table;
}
.w-row:after {
  clear: both;
}
.w-row .w-row {
  margin-left: 0;
  margin-right: 0;
}
.w-col {
  position: relative;
  float: left;
  width: 100%;
  min-height: 1px;

}
.w-col .w-col {
  padding-left: 0;
  padding-right: 0;
}
.w-col-1 {
  width: 8.33333333%;
}
.w-col-2 {
  width: 16.66666667%;
}
.w-col-3 {
  width: 25%;
}
.w-col-4 {
  width: 33.33333333%;
}
.w-col-5 {
  width: 41.66666667%;
}
.w-col-6 {
  width: 50%;
}
.w-col-7 {
  width: 58.33333333%;
}
.w-col-8 {
  width: 66.66666667%;
}
.w-col-9 {
  width: 75%;
}
.w-col-10 {
  width: 83.33333333%;
}
.w-col-11 {
  width: 91.66666667%;
}
.w-col-12 {
  width: 100%;
}
.w-hidden-main {
  display: none !important;
}



.menu-admin-user,
.menu-login{
	float: right;
}

.header-top ul {
	display: inline;
	color: #fff;
}

.header-top ul li{
	display: inline;
	color: #fff;
	line-height: 30px;
	padding: 0 10px;
}

.header-top ul li a{
	text-decoration: none;
	color: #fff;
	line-height: 30px
}

.dropzone {
	background: #fff;
	border: 2px dashed #ddd;
	border-radius: 5px;
}

.dz-message {
	color: #999;
}

.dz-message:hover {
	color: #464646;
}

.dz-message h3 {
	font-size: 200%;
	margin-bottom: 15px;
}

.dz-preview .dz-image img{
	display: block;
    float: none;
    height: 100%;
    margin: 0 auto;
    text-align: center;
    width: 100%;
}



.fotografia{
	float: left;
    border: 12px solid #ddd;
    border-radius: 10px;
    margin: 1%;
    width: 20%;
    transition: all 0.5s ease;
}

.fotografia img{
	width: 100%;
	float: left;
}

.fotografia:hover{
    border: 12px solid #bbb;
}

.fotografia.selected{
    border: 12px solid #89A54E;
}

.default-preview{
	background-color: #ddd;
    display: flex;
    min-height: 300px;
    align-items: center;
    justify-content: center;
    font-family: 'Ubuntu', sans-serif;
    color:#999;
    font-size: 22px;
}

.detalle-fotografia-img .colorbox{
  cursor: zoom-in;
}

.carrito-list-item {
      float: left;
    border: 12px solid #ddd;
    border-radius: 10px;
    margin: 1%;
    width: 16%;
    transition: all 0.5s ease;
    position: relative;
    overflow: hidden;
}

.carrito-list-item img {
    width: 100%;
    float: left;
}


.fotografia-detalle {
    align-items: center;
    background: rgba(0, 0, 230, 0.5) none repeat scroll 0 0;
    color: #fff;
    display: flex;
    height: 100%;
    justify-content: center;
    position: absolute;
    text-align: center;
    top: 101%;
    transition: all 0.5s ease 0s;
    width: 100%;
}

.carrito-list-item:hover .fotografia-detalle{
  top: 0;
}

.hidden{
  display: none;
}

.controles {
    width: 100%;
    clear: both;
    margin: 30px 0;
    float: left;
    position: relative;
}


.controles .atras-container{
  float:left;
  width: 120px;
  background: #E95321;
  text-align: center;
  height: 50px;
   border-radius: 5px;
}



.controles .volver-container{
  float:left;
  width: 200px;
  background: #E95321;
  text-align: center;
  height: 50px;
   border-radius: 5px;
}

.controles .siguiente-container{
  float:right;
  width: 120px;
  background: #E95321;
  text-align: center;
  height: 50px;
  border-radius: 5px;
}

.controles a{
  text-decoration: none;
  color: #fff;
  line-height: 50px;
  width: 100%;
  display: block;
  text-transform: uppercase;
}

.fotografia-detalle-container{
  clear: both;
}

.fotografia-detalle-solicitud{
  padding-top: 10px;
}


.menu-main .menu-list li{
  display: inline-block;
  padding: 5px 15px;
}

.menu-main-container{
    width: 80%;
    float: right;
    text-align: right;
    padding-top: 62px;
}

.logo{
  width: 20%;
  float: left;
}

.menu-main .menu-list li a{
  text-decoration: none;
  color: #0d3e97;
  font-family: 'Bree Serif', serif;
  font-size: 18px;
  font-weight: 600;
}

input[type="text"], 
input[type="password"],
input[type="email"],
input[type="number"]{
  line-height: 35px;
  height: 35px;
  border:1px solid #aaa;
  border-radius: 5px;
  box-shadow: none;
  padding:5px 10px;
}

select{
  line-height: 45px;
  height: 45px;
  border:1px solid #aaa;
  border-radius: 5px;
  box-shadow: none;
  padding:5px 10px;
}

textarea{
  border:1px solid #aaa;
  border-radius: 5px;
  box-shadow: none;
  padding:5px;
}



.header{
  background-color:#c4f0f6;
  padding: 15px 0;
  
}

.footer{
  background-color:#5594C9;
  padding: 15px 0 5px;
  margin-top: 50px;
}

.footer h2{
  color:#fff;
  font-family: 'Bree Serif', serif;
  font-weight: normal;
}

.footer ul{
  padding: 0 15px;
}

.footer ul li{
      list-style: none;
    color: #fff;
    line-height: 30px;
    font-size: 15px;
}

.footer ul li a{
  color: #fff;
  text-decoration: none;
  display: block;
  transition: all 0.5s ease;
}

.footer ul li a:hover{
  transform: translate(5px, 0);
}

.footer p{
  color: #fff;
  line-height: 30px;
  font-size: 15px;
  font-weight: bold;
}
.footer a{
  color: #fff;
  text-decoration: none;
  font-weight: normal;
}

.footer-creditos{
  background-color:#000;
}

.footer-creditos p {
    text-align: center;
    color: #fff;
}

.footer-creditos p a{
    text-decoration: none;
    color: #fff;
}

.content{
  min-height: 600px;
}

.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.alert-warning {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}

.alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.formulario-centrado{
  width: 600px;
  float: none;
  margin: 0 auto;
  text-align: center;
}

.formulario-centrado input[type='text'],
.formulario-centrado input[type='password'],
.formulario-centrado textarea,

.formulario-pedido textarea{
  width: 100%;
  min-width: 100%;
  max-width: 100%;
}

.detalle-fotografia {
    padding-left: 26px;
}

.tinynav { display: none }

.detalle-fotografia-img img {
    max-height: 400px;
    text-align: center;
    float: none;
    margin: 0 auto;
    display: block;
    max-width: 100%;
}

.vista-inicio .bx-wrapper .bx-viewport{
  border-width: 0 !important;
}

.center{
  text-align: center;
}

.page-title{
    color: #0d3e97;
    font-family: 'Bree Serif', serif;
    font-size: 28px;
    font-weight: 600;
}

.vista-listado-fotografias .listado{
  max-height: 800px;
  overflow-y: scroll;
}


.contacto-container input[type='text'], .contacto-container textarea{
    width: 90%;
    min-width: 90%;
    max-width: 90%;
}

.contacto-container textarea{
  padding: 5px 10px;
}
    
.contacto-container .alert{
  width: 90%;
}

h1{
    color: #0d3e97;
    font-family: 'Bree Serif', serif;
    font-size: 28px;
    font-weight: 600;
}

h2 {
    color: #3F88D1;
    font-family: 'Bree Serif', serif;
    font-size: 24px;
    font-weight: 600;
}

label{
  font-weight: 700;
}

.info-contacto p{
  font-size: 16px;
}

.info-contacto p a{
  text-decoration: none;
  color: #575757;
  display: block;
  transition: all 0.5s ease;
  padding-left: 30px;
}

.info-contacto p a:hover{
  transform: translate(5px, 0);
}

.footer .info-contacto p{
  font-size: 14px;
}
.footer .info-contacto p a{
  color: #fff;
}


.btn-naranja{
  background-color: #F29305;
}


.btn-movil {
  display: none;
}
